body{
    background: url("/images/pic2.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

.regform{
    width:350px;
    margin:250px auto;
    padding: 10px 20px 30px;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 22px;
    border-radius:10px;

}
.regform h3{
    text-align: center;
    color: #FFE569;

}
.regform .textlabel{
    display: block;

}
.input input{
    width: 100%;
    font-size: 1.2em;
    border: 1px rgb(222, 62, 62);
    box-shadow: 1px;
    border-radius:5px;
    padding: 4px 10px;
    box-sizing: border-box;
    margin:4px 0px 10px;
}
input:focus{
    background-color: beige;
}
.btn{
    text-align: center;

}
button{
    background-color:rgb(240, 189, 59) ;
    font-size:20px;
    color: white;
    margin-top: 20px;
    padding:9px 15px;
    border-radius: 7px;
    box-shadow:1px lightcoral ;
}
.radio input{
    accent-color:lightcoral ;
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

